<mat-toolbar>
  <button mat-button>
    <span routerLink="/">inkGeko</span>
  </button>
  <div class="vl"></div>
  <span class="spacer"></span>
  <button mat-button>
    <span routerLink="offers">Angebote</span>
  </button>
  <button mat-button>
    <span routerLink="portfolio">Portfolio</span>
  </button>
  <button mat-button>
    <span routerLink="biography">Biografie</span>
  </button>
  <button mat-button>
    <span routerLink="contact">Kontakt</span>
  </button>
  <!-- logo -->
</mat-toolbar>
