<mat-toolbar class="header-container">
  <button mat-button class="image-button" routerLink="/">
    <img class="image" src="assets/images/Nur_ink_schwarz.png">
  </button>
  <div class="vl"></div>
  <span class="spacer"></span>
  <button mat-button>
    <span class="text" routerLink="offers">Angebote</span>
  </button>
  <button mat-button>
    <span class="text" routerLink="portfolio">Portfolio</span>
  </button>
  <button mat-button>
    <span class="text" routerLink="biography">Biografie</span>
  </button>
  <button mat-button>
    <span class="text" routerLink="contact">Kontakt</span>
  </button>
  <button mat-button class="logo-container" disabled>
    <div class="logo-container2">
          <img class="logo" src="assets/images/Nur_geko_schwarz.png">
    </div>
  </button>
</mat-toolbar>
